In [2]:
import pandas as pd
import os

In [4]:
appName = 'beautySpa'
# appName = 'hotel'
# appName = 'restaurant'
 
path = '../../../data/'

In [22]:
# 1) load data
reviews_file = os.path.join(path,'BING_DATASET', appName+'_data.csv')
df = pd.DataFrame.from_csv(reviews_file)

In [6]:
df.columns

Index(['EXPERIENCE_APPONTMENT', 'EXPERIENCE_APPONTMENTsent',
       'EXPERIENCE_COMPANY', 'EXPERIENCE_COMPANYsent',
       'EXPERIENCE_CONVERSATION', 'EXPERIENCE_CONVERSATIONsent',
       'EXPERIENCE_FEELINGS', 'EXPERIENCE_FEELINGSsent', 'EXPERIENCE_OCCASION',
       'EXPERIENCE_OCCASIONsent',
       ...
       'STAFF_SERVICE', 'STAFF_SERVICEsent', 'STAFFsent', 'business_id',
       'date', 'review_id', 'stars', 'type', 'user_id', 'votes'],
      dtype='object', length=103)

In [13]:
for c in df.columns:
    print(c,'\t',df[c].unique(),'\t',df[c].value_counts())

EXPERIENCE_APPONTMENT 	 [ nan   1.] 	 1    14015
Name: EXPERIENCE_APPONTMENT, dtype: int64
EXPERIENCE_APPONTMENTsent 	 [ nan   0.  -1.   1.] 	  0    7393
 1    4660
-1    1962
Name: EXPERIENCE_APPONTMENTsent, dtype: int64
EXPERIENCE_COMPANY 	 [ nan   1.] 	 1    10120
Name: EXPERIENCE_COMPANY, dtype: int64
EXPERIENCE_COMPANYsent 	 [ nan   0.   1.  -1.] 	  0    4748
 1    4099
-1    1273
Name: EXPERIENCE_COMPANYsent, dtype: int64
EXPERIENCE_CONVERSATION 	 [ nan   1.] 	 1    2265
Name: EXPERIENCE_CONVERSATION, dtype: int64
EXPERIENCE_CONVERSATIONsent 	 [ nan   1.   0.  -1.] 	  1    1349
 0     605
-1     311
Name: EXPERIENCE_CONVERSATIONsent, dtype: int64
EXPERIENCE_FEELINGS 	 [ nan   1.] 	 1    3664
Name: EXPERIENCE_FEELINGS, dtype: int64
EXPERIENCE_FEELINGSsent 	 [ nan   0.   1.  -1.] 	  1    1753
 0    1439
-1     472
Name: EXPERIENCE_FEELINGSsent, dtype: int64
EXPERIENCE_OCCASION 	 [ nan   1.] 	 1    1203
Name: EXPERIENCE_OCCASION, dtype: int64
EXPERIENCE_OCCASIONsent 	 [ nan  -1.   1.   0.] 	  0    617
 1    452
-1    134
Name: EXPERIENCE_OCCASIONsent, dtype: int64
EXPERIENCE_RECOMMENDATIONS 	 [ nan   1.] 	 1    1987
Name: EXPERIENCE_RECOMMENDATIONS, dtype: int64
EXPERIENCE_RECOMMENDATIONSsent 	 [ nan   0.   1.  -1.] 	  1    1234
 0     645
-1     108
Name: EXPERIENCE_RECOMMENDATIONSsent, dtype: int64
EXPERIENCE_TIME 	 [ nan   1.] 	 1    3766
Name: EXPERIENCE_TIME, dtype: int64
EXPERIENCE_TIMEsent 	 [ nan   0.   1.  -1.] 	  0    1981
 1    1146
-1     639
Name: EXPERIENCE_TIMEsent, dtype: int64
EXPERIENCE_WAIT 	 [ nan   1.] 	 1    12041
Name: EXPERIENCE_WAIT, dtype: int64
EXPERIENCE_WAITsent 	 [ nan   0.  -1.   1.] 	  0    6225
 1    3942
-1    1874
Name: EXPERIENCE_WAITsent, dtype: int64
EXPERIENCEsent 	 [ nan   0.   1.  -1.] 	  1    22726
 0    16786
-1     7544
Name: EXPERIENCEsent, dtype: int64
FOOD 	 [ nan   1.] 	 1    9349
Name: FOOD, dtype: int64
FOOD_DRINK 	 [ nan   1.] 	 1    6641
Name: FOOD_DRINK, dtype: int64
FOOD_DRINKsent 	 [ nan   0.   1.  -1.] 	  1    3357
 0    2575
-1     709
Name: FOOD_DRINKsent, dtype: int64
FOOD_FOOD 	 [ nan   1.] 	 1    1871
Name: FOOD_FOOD, dtype: int64
FOOD_FOODsent 	 [ nan  -1.   0.   1.] 	  0    731
 1    699
-1    441
Name: FOOD_FOODsent, dtype: int64
FOODsent 	 [ nan   0.  -1.   1.] 	  1    4668
 0    3404
-1    1277
Name: FOODsent, dtype: int64
GENERAL 	 [ nan   1.] 	 1    7102
Name: GENERAL, dtype: int64
GENERALsent 	 [ nan   1.  -1.   0.] 	  1    3882
-1    2165
 0    1055
Name: GENERALsent, dtype: int64
ID 	 [    883     884    1296 ..., 2225194 2225195 2225198] 	 221296     1
2028788    1
717408     1
947428     1
1211621    1
660712     1
400617     1
1967338    1
1979628    1
1975534    1
711921     1
1232115    1
978167     1
1692944    1
1744121    1
429307     1
177404     1
1483497    1
1922304    1
1408261    1
161009     1
2170121    1
1651980    1
1129741    1
1987808    1
1813727    1
2079965    1
2077916    1
1352177    1
1318057    1
          ..
1327837    1
1671909    1
1678054    1
1413863    1
682648     1
955962     1
787029     1
1718930    1
31322      1
553563     1
1486655    1
1331807    1
885349     1
1677926    1
627303     1
233093     1
115309     1
1649264    1
1915506    1
1907318    1
1643127    1
1967496    1
1669754    1
2009728    1
2013826    1
164485     1
453256     1
1753741    1
139921     1
2099201    1
Name: ID, dtype: int64
NON-FEATURE 	 [ nan   1.] 	 1    19
Name: NON-FEATURE, dtype: int64
NON-FEATUREsent 	 [ nan   0.  -1.   1.] 	  1    7
 0    7
-1    5
Name: NON-FEATUREsent, dtype: int64
NON-SKIP 	 [ nan   1.] 	 1    2
Name: NON-SKIP, dtype: int64
NON-SKIPsent 	 [ nan   1.   0.] 	 1    1
0    1
Name: NON-SKIPsent, dtype: int64
PERSONAL 	 [ nan   1.] 	 1    6298
Name: PERSONAL, dtype: int64
PERSONALsent 	 [ nan   1.   0.  -1.] 	  0    3257
 1    1644
-1    1397
Name: PERSONALsent, dtype: int64
PROCEDURE 	 [ nan   1.] 	 1    76461
Name: PROCEDURE, dtype: int64
PROCEDURE_BEAUTY 	 [ nan   1.] 	 1    66446
Name: PROCEDURE_BEAUTY, dtype: int64
PROCEDURE_BEAUTY_BARBER 	 [ nan   1.] 	 1    4595
Name: PROCEDURE_BEAUTY_BARBER, dtype: int64
PROCEDURE_BEAUTY_BARBERsent 	 [ nan   1.   0.  -1.] 	  1    2475
 0    1576
-1     544
Name: PROCEDURE_BEAUTY_BARBERsent, dtype: int64
PROCEDURE_BEAUTY_FACE 	 [ nan   1.] 	 1    8006
Name: PROCEDURE_BEAUTY_FACE, dtype: int64
PROCEDURE_BEAUTY_FACEsent 	 [ nan  -1.   0.   1.] 	  1    4068
 0    3052
-1     886
Name: PROCEDURE_BEAUTY_FACEsent, dtype: int64
PROCEDURE_BEAUTY_HAIR 	 [ nan   1.] 	 1    27952
Name: PROCEDURE_BEAUTY_HAIR, dtype: int64
PROCEDURE_BEAUTY_HAIRsent 	 [ nan  -1.   1.   0.] 	  1    13990
 0     9050
-1     4912
Name: PROCEDURE_BEAUTY_HAIRsent, dtype: int64
PROCEDURE_BEAUTY_NAILS 	 [ nan   1.] 	 1    31765
Name: PROCEDURE_BEAUTY_NAILS, dtype: int64
PROCEDURE_BEAUTY_NAILS_MANI 	 [ nan   1.] 	 1    7049
Name: PROCEDURE_BEAUTY_NAILS_MANI, dtype: int64
PROCEDURE_BEAUTY_NAILS_MANIsent 	 [ nan   1.  -1.   0.] 	  1    2924
 0    2896
-1    1229
Name: PROCEDURE_BEAUTY_NAILS_MANIsent, dtype: int64
PROCEDURE_BEAUTY_NAILS_PEDI 	 [ nan   1.] 	 1    18426
Name: PROCEDURE_BEAUTY_NAILS_PEDI, dtype: int64
PROCEDURE_BEAUTY_NAILS_PEDIsent 	 [ nan   1.  -1.   0.] 	  1    9202
 0    6292
-1    2932
Name: PROCEDURE_BEAUTY_NAILS_PEDIsent, dtype: int64
PROCEDURE_BEAUTY_NAILSsent 	 [ nan   1.  -1.   0.] 	  1    17390
 0     8433
-1     5942
Name: PROCEDURE_BEAUTY_NAILSsent, dtype: int64
PROCEDURE_BEAUTY_WAX 	 [ nan   1.] 	 1    6318
Name: PROCEDURE_BEAUTY_WAX, dtype: int64
PROCEDURE_BEAUTY_WAXsent 	 [ nan   1.  -1.   0.] 	  1    2911
 0    2521
-1     886
Name: PROCEDURE_BEAUTY_WAXsent, dtype: int64
PROCEDURE_BEAUTYsent 	 [ nan   1.  -1.   0.] 	  1    36406
 0    18519
-1    11521
Name: PROCEDURE_BEAUTYsent, dtype: int64
PROCEDURE_RELAX 	 [ nan   1.] 	 1    22022
Name: PROCEDURE_RELAX, dtype: int64
PROCEDURE_RELAX_MASSAGE 	 [ nan   1.] 	 1    16163
Name: PROCEDURE_RELAX_MASSAGE, dtype: int64
PROCEDURE_RELAX_MASSAGEsent 	 [ nan   1.   0.  -1.] 	  1    9860
 0    4443
-1    1860
Name: PROCEDURE_RELAX_MASSAGEsent, dtype: int64
PROCEDURE_RELAX_SPA 	 [ nan   1.] 	 1    9778
Name: PROCEDURE_RELAX_SPA, dtype: int64
PROCEDURE_RELAX_SPAsent 	 [ nan   0.   1.  -1.] 	  1    5180
 0    3492
-1    1106
Name: PROCEDURE_RELAX_SPAsent, dtype: int64
PROCEDURE_RELAX_TRAIN 	 [ nan   1.] 	 1    1551
Name: PROCEDURE_RELAX_TRAIN, dtype: int64
PROCEDURE_RELAX_TRAINsent 	 [ nan   1.  -1.   0.] 	  1    784
 0    577
-1    190
Name: PROCEDURE_RELAX_TRAINsent, dtype: int64
PROCEDURE_RELAXsent 	 [ nan   1.   0.  -1.] 	  1    13419
 0     6086
-1     2517
Name: PROCEDURE_RELAXsent, dtype: int64
PROCEDUREsent 	 [ nan   1.  -1.   0.] 	  1    44127
 0    19719
-1    12615
Name: PROCEDUREsent, dtype: int64
SALON 	 [  1.  nan] 	 1    78693
Name: SALON, dtype: int64
SALON_ADDITIONAL 	 [ nan   1.] 	 1    1999
Name: SALON_ADDITIONAL, dtype: int64
SALON_ADDITIONALsent 	 [ nan   0.   1.  -1.] 	  1    860
 0    852
-1    287
Name: SALON_ADDITIONALsent, dtype: int64
SALON_ATMOSPHERE 	 [ nan   1.] 	 1    6101
Name: SALON_ATMOSPHERE, dtype: int64
SALON_ATMOSPHEREsent 	 [ nan   1.  -1.   0.] 	  1    4510
 0    1082
-1     509
Name: SALON_ATMOSPHEREsent, dtype: int64
SALON_EQUIPMENT 	 [ nan   1.] 	 1    6106
Name: SALON_EQUIPMENT, dtype: int64
SALON_EQUIPMENTsent 	 [ nan   1.  -1.   0.] 	  1    3662
 0    1639
-1     805
Name: SALON_EQUIPMENTsent, dtype: int64
SALON_INTERIOR 	 [  1.  nan] 	 1    18636
Name: SALON_INTERIOR, dtype: int64
SALON_INTERIOR_BATH 	 [  1.  nan] 	 1    6361
Name: SALON_INTERIOR_BATH, dtype: int64
SALON_INTERIOR_BATHsent 	 [  1.  nan  -1.   0.] 	  1    3344
 0    1970
-1    1047
Name: SALON_INTERIOR_BATHsent, dtype: int64
SALON_INTERIOR_DESIGN 	 [ nan   1.] 	 1    4533
Name: SALON_INTERIOR_DESIGN, dtype: int64
SALON_INTERIOR_DESIGNsent 	 [ nan   1.   0.  -1.] 	  1    2931
 0    1168
-1     434
Name: SALON_INTERIOR_DESIGNsent, dtype: int64
SALON_INTERIOR_ROOM 	 [ nan   1.] 	 1    9989
Name: SALON_INTERIOR_ROOM, dtype: int64
SALON_INTERIOR_ROOMsent 	 [ nan  -1.   0.   1.] 	  1    5339
 0    3147
-1    1503
Name: SALON_INTERIOR_ROOMsent, dtype: int64
SALON_INTERIORsent 	 [  1.  nan   0.  -1.] 	  1    10839
 0     5094
-1     2703
Name: SALON_INTERIORsent, dtype: int64
SALON_LOCATION 	 [  1.  nan] 	 1    6997
Name: SALON_LOCATION, dtype: int64
SALON_LOCATIONsent 	 [  1.  nan   0.  -1.] 	  1    3624
 0    2486
-1     887
Name: SALON_LOCATIONsent, dtype: int64
SALON_PARKING 	 [ nan   1.] 	 1    1777
Name: SALON_PARKING, dtype: int64
SALON_PARKINGsent 	 [ nan   1.  -1.   0.] 	  1    794
 0    587
-1    396
Name: SALON_PARKINGsent, dtype: int64
SALON_PRICE 	 [  1.  nan] 	 1    37781
Name: SALON_PRICE, dtype: int64
SALON_PRICE_BONUS 	 [  1.  nan] 	 1    6024
Name: SALON_PRICE_BONUS, dtype: int64
SALON_PRICE_BONUSsent 	 [  0.  nan  -1.   1.] 	  0    2731
 1    2523
-1     770
Name: SALON_PRICE_BONUSsent, dtype: int64
SALON_PRICEsent 	 [  0.   1.  nan  -1.] 	  1    18882
 0    11210
-1     7689
Name: SALON_PRICEsent, dtype: int64
SALON_TYPE 	 [ nan   1.] 	 1    28691
Name: SALON_TYPE, dtype: int64
SALON_TYPEsent 	 [ nan   0.   1.  -1.] 	  1    15286
 0     9419
-1     3986
Name: SALON_TYPEsent, dtype: int64
SALONsent 	 [  1.  nan  -1.   0.] 	  1    48893
 0    17575
-1    12225
Name: SALONsent, dtype: int64
STAFF 	 [  1.  nan] 	 1    50254
Name: STAFF, dtype: int64
STAFF_DOCTOR 	 [ nan   1.] 	 1    2954
Name: STAFF_DOCTOR, dtype: int64
STAFF_DOCTORsent 	 [ nan   0.   1.  -1.] 	  1    1697
 0     912
-1     345
Name: STAFF_DOCTORsent, dtype: int64
STAFF_INSTRUCTOR 	 [ nan   1.] 	 1    370
Name: STAFF_INSTRUCTOR, dtype: int64
STAFF_INSTRUCTORsent 	 [ nan   0.   1.  -1.] 	  1    193
 0    130
-1     47
Name: STAFF_INSTRUCTORsent, dtype: int64
STAFF_MASTER 	 [ nan   1.] 	 1    9091
Name: STAFF_MASTER, dtype: int64
STAFF_MASTERsent 	 [ nan   0.   1.  -1.] 	  1    4487
 0    3300
-1    1304
Name: STAFF_MASTERsent, dtype: int64
STAFF_OWNER 	 [ nan   1.] 	 1    5827
Name: STAFF_OWNER, dtype: int64
STAFF_OWNERsent 	 [ nan  -1.   1.   0.] 	  1    2763
 0    2324
-1     740
Name: STAFF_OWNERsent, dtype: int64
STAFF_SERVICE 	 [  1.  nan] 	 1    26990
Name: STAFF_SERVICE, dtype: int64
STAFF_SERVICEsent 	 [  1.  nan   0.  -1.] 	  1    15576
 0     6619
-1     4795
Name: STAFF_SERVICEsent, dtype: int64
STAFFsent 	 [  1.   0.  nan  -1.] 	  1    31885
 0    11220
-1     7149
Name: STAFFsent, dtype: int64
business_id 	 ['Eu3Iwje0YY8ectr-CxMgqg' 'bN3jIkPqbqroQJteJsC2uw' 'jTAKV9zLlAjouAKh4Wd7Yg'
 ..., 'c16s5ogdsmWtPXCS_Sp0-g' 'F0Fb1oI_Dpr0UzSjdCxOyQ'
 'g52y11QlSrJNNKy2xPvB2Q'] 	 WIlklz81DcJkUWJThbnJbQ    1520
KpZLxHrp2PIP8tLBsPLiww    1011
y4Qyf4PPSOHdQFTr3Zi_KA     847
8oqcpmXrymQ1RRMK12S7QA     434
-FCQ6tpsdpbeEJX8R_-tQQ     414
-1tQu_yKCOgOj-WtXmMYIA     381
8ZwO9VuLDWJOXmtAdc7LXQ     374
EM4gmlsOVfXT4faEkp8IzQ     328
5tsqcZEvZYTpqux7_IGHVw     305
EUeNB6nu1E8AZMT2X4l-Uw     301
Zi-dpvV3879RgW_LeZ49uQ     296
ta6GXjcGAhMlC-KtxX6VfQ     295
hltsEC6Xy7_nB4-KTNfmcg     285
Db75Zr2zrKyiWzVUPkG2OQ     280
9ytf0fFlRb0vB0YlFAvT3w     276
FQawsjOODsFmN28zgY3b_Q     276
dXhrxTIatUPskg7Jn12iXQ     263
UKgSs_SJzW9fu4CwhIV1yA     252
DJMC1HD4XEeaJaWlR6ISBw     236
mlgD0zcqkWdGBzX97NS-8g     219
0VhDIkUaXngQJIc9fLuCsQ     216
SLO-pJBGR_79SaD1v62JHQ     201
qrjPKkSPzodIfP0kW1mtEw     194
LvMipFjDCulxszopCHzCpg     185
4V20KwXSSWz7A2OuiixVww     184
7ujIaG-_RDrBC4739RncSA     183
EtijSxqheu_LHohSvKQfLA     179
9tz3frgecLUzHSFzZ540Sg     172
Vem91uL0NUK_HzS4qNdJAA     171
dfOFgjhuEp5GdHJhVzjOAA     171
                          ...
jzHIJI0Pkn3AxAKipLCmfA       1
2rl1iHdOsE7aruA9LM8QAA       1
fhjoWIlg6i3wc3D1hvs1UQ       1
4C2zLGIYYY4DboKTGZRLxQ       1
naDKjHbYA8RrH7VmMGvuIw       1
M7Dtuz-xqbhyoVcL8A4nwQ       1
DpAvPM2YnMKLhfx9Oh8JVw       1
t7v2WKfz3_XkPBWr4RJHJQ       1
ud5eR2wZe6De2ctwgVrlHA       1
28UEqrtuKHTIvSderMavKA       1
ZBoS5psMODvIrpMNn7SCtw       1
Yc_UKWzo_fPgkr_K2ZqUHQ       1
OSqi_tZwydODzqff2LCLtQ       1
jTbAQmf14ZqUEXZvS1nLbw       1
Ff3LKEeXdiBYgdLtwiP31g       1
edJi6xtDpVXz3medzo0wIA       1
MozQ5aTlhJwaI2OjeMM7EQ       1
ZgrzyIfl9tIF1PeOJrLAuA       1
a9TuMsa_gUHDRfc-LwLcIA       1
mMo3W7sBDKXdYeWVSeKqMw       1
_95dDpeHstYUMUMvz36g1Q       1
HiqRpx1aRLMXR5tQOfJQmA       1
Zr0K3WiBWUoH9J6rchMlqg       1
bemaKNgSiq2pWvfUCmK6Zw       1
-PCeEIQDdA6g38nPSUckwg       1
E491jDhPB4wwdG2VoAOXuA       1
TpbUoQo5BSmvzfE070_ePw       1
Q3iisefs-CmP8p9Lj5CBjg       1
coGbT1mfyqAEzaavMjF9dg       1
8TD1ThsmuRe6WIdbdHb8yg       1
Name: business_id, dtype: int64
date 	 ['2015-03-14' '2015-11-18' '2011-10-23' ..., '2007-10-30' '2008-04-25'
 '2006-09-15'] 	 2015-07-22    147
2015-05-20    145
2015-07-17    145
2015-08-07    143
2015-08-02    143
2015-09-26    143
2015-08-22    143
2015-05-29    142
2015-06-20    141
2015-07-31    138
2015-06-25    138
2015-12-23    137
2015-09-19    137
2015-05-27    136
2015-07-23    135
2015-06-27    135
2015-05-17    135
2015-07-11    135
2015-10-07    134
2015-09-04    134
2015-07-27    132
2015-09-18    132
2015-04-08    132
2015-08-23    132
2015-07-18    132
2015-05-09    131
2015-10-10    131
2015-08-28    131
2015-05-15    130
2015-03-14    130
             ...
2007-02-15      1
2007-04-07      1
2007-01-08      1
2005-10-13      1
2007-03-14      1
2006-12-12      1
2007-12-27      1
2007-05-17      1
2009-08-17      1
2008-01-17      1
2006-11-30      1
2007-06-10      1
2008-10-24      1
2006-12-02      1
2008-04-07      1
2007-07-26      1
2009-11-02      1
2008-01-09      1
2009-03-05      1
2007-11-27      1
2007-01-17      1
2008-06-07      1
2007-11-21      1
2008-07-07      1
2008-05-26      1
2006-06-21      1
2007-03-17      1
2009-06-10      1
2007-11-16      1
2007-04-05      1
Name: date, dtype: int64
review_id 	 ['MtE5JcUIcWaFEG1tBGkuhw' 'b_2cbkU5m9sgv-HaQab6Dg' 'BrqobqQmkLpLvt_hDXOWNg'
 ..., 'g-Ory9Y4XORMAdhAE7luSA' 'SVL9L6Cb1f7zwstYZZtXQA'
 '3PAsGct2yVYU3ZpiSYcLJw'] 	 XN6GNsdiDAP7ER09o6jD9A    1
79yeSvYvdHcViJXNiaUH_A    1
uHK-NpG_GeAEQEChpryd4w    1
-1sL_XbFP2hIZbt6UmMq5Q    1
m9mHuM0e-muJCM4kFQCShA    1
PTsup4NpGU3aTy9GpFI-Zg    1
Nr2FgzXpL2aSrnvCUQombQ    1
Ar4zJsjRnlJwNflooXtIWA    1
TNrs5RJFWMqJl6PZ8m6fNA    1
nsPEmDS6vWVMP3F0CHq93A    1
AA_hFwLn8yphJ8IBsLEW2A    1
GYtNmall0Z7awGJWI1jvUQ    1
7UjndmlYa7qAA2WoTD3YEw    1
GA_2Tc0aDgFiar96gVzNCQ    1
rbLY2bVJfu4mStfW_P8hjQ    1
1_itp58eKeJEQKHFiB6JPQ    1
h9E_QHpXMr12W980twk0ng    1
_47kDekUJ87XEVZ9VPULJw    1
IWhs7GNlker5__LGuP800Q    1
Sy8tVBaVf__s8sRJPopWbA    1
UZb_N5dNg7o6mqldKhf_-Q    1
GU7eytCv15hAu3Fr7cjS4g    1
kMJjAXnZexAo6Fo3olcIsg    1
rFGIVJPUawrAEYgQU5O5KQ    1
gL9nWYb39XVMt70VSwQx-Q    1
GewuzU9LZ2Ujx0HDENdFcg    1
zqTopGlEmCoItRejP1An1A    1
M_C-PXDXqyJDUy0dcUgoSg    1
ZALBLIbZpRH46YCJ8wrILg    1
_4ksfls-wurEDgRUEwToPQ    1
                         ..
kDP_eRgMCy-AuNgQW-Dwog    1
3E_NO2m6qW2E4NzEYZQRAw    1
J_Wte7_nL9jS6LJGpJ8wOw    1
f7g4AMfM7ore4KfO4cstSw    1
amRoYCA6p2rsFjNUDTR9uA    1
Btj2kyQ2Tu3rBb0jgWnjpg    1
ALKafM8SX32Z3XHRbktirg    1
OziyY0Sz3xsvbk1Bohw5Pw    1
lEgnjTHXjkOw3f7lKeReKQ    1
5FxMnG7JfEEphPFdl6TJmQ    1
61G4s2fgi36NpXJPibhw2w    1
x7Z39PdDuKFvF69DZ_F4aA    1
DckVmhIBQByQ_VyBtpgNag    1
U7m96v1eQ_wFHoQDv2VcxQ    1
VuXIp0irADtvVmBdrTBR5w    1
GLmsoDxutPz2jwUAotfF3A    1
tjwEwbn4xeGkcpenUi76FA    1
G6PxmF5bwgSZIde8zbyMHg    1
W_q3QkzNsS89DcUbHzGM0A    1
HyE-uQz6xNBIbL4NcbdIJw    1
UKcdYUm0U8lhpZEIosHZ4Q    1
UfDGvNb3nGGBiHRScC7vXA    1
hb4b6NrINc20sfYYCJ95rw    1
WcthEEgpGHAjtD3wGEM5sA    1
vguDoHqrwwbEZkEymXSnJA    1
TxUswS2vBP2_AQ1EmFI1ww    1
DZk5tqlp3sGIQiPOPAdoHQ    1
nClwH4Y1ePwGGk0dt41vHQ    1
fwkduBlBZKMki8yLvRmHcg    1
5hwot8w-aUvPJZ-vknCZRQ    1
Name: review_id, dtype: int64
stars 	 [4 1 5 3 2] 	 5    64528
4    15084
1    13469
2     5617
3     5501
Name: stars, dtype: int64
type 	 ['review'] 	 review    104199
Name: type, dtype: int64
user_id 	 ['JPPhyFE-UE453zA6K0TVgw' 'WzaaorVCmUTQvu4mScunNg' 'MmTccFnS1FLjr9C1pz85Rw'
 ..., 'G8ud7-Up7e3pnNbvxX-18A' 'aDlPdxB6nWTDeea4rEvnwg'
 '9iOM2MvoOrF_0uQ48KKViQ'] 	 fczQCSmaWF78toLEmb0Zsw    56
4p-qAdc_ZLXfieNwaZGNGA    41
8p4at4zdzCpueAmSBaorZA    39
4ozupHULqGyO42s3zNUzOQ    38
5hBsVMJOc8sXMPt8S3NjmA    35
_PzSNcfrCjeBxSLXRoMmgQ    35
rzHZ3iYVQe_8h2e42DbUsw    32
ChgmBht69bnqSdDxpWMAqQ    32
0bNXP9quoJEgyVZu9ipGgQ    31
uZbTb-u-GVjTa2gtQfry5g    30
ru8p3RTlk8f9LB_3zLXURQ    30
XjfKBr96h6GgrfkR_q6gIA    30
PuTmcfPDLNUAKo68LmdZOA    29
xV1hf20ZFDSoaMZmwLoHNg    28
LP0bl3GKToABt3lnpSvA2w    27
eD9VAnbyW3a1Vg3bfLoX9w    27
OAd-vbR_POac1zHtu-Y2Zg    27
PV5voYSD43Cn_3gHmxG7DA    25
RxfFQxUtSIGYwTKU_rvAeg    25
fwEPqYiyZCaB7QKY6a7h5g    25
gUr8qs00wFAk851yHMlgRQ    24
BAkShY3E9BCjYoqin6aeKQ    24
kGgAARL2UmvCcTRfiscjug    24
EjhVxYFeMUYimoImjMduzQ    24
glRXVWWD6x1EZKfjJawTOg    24
KtNT8biTJlbAFh-APgO7-w    23
y5_vrqIylhXMrejM_-x_vA    23
KkEFlQAmrKf6BtPVi6EU7g    22
s9I4KMcrHKki44g_eTrYqQ    22
F6QsMoJdvtohlbnST-fDyQ    22
                          ..
9d_pmYs3C18y5qFK2x68Fg     1
0WtprELqWcrSpbwcHRRqeg     1
Z6YxpP0WSuTnzw6fHh3C3w     1
w1Toqn4Tdit4s8YmqWZVTA     1
EQgaZhqsAAO4iq1ZzsxyLA     1
aCNbHGbAgzkzqudZIxg3LA     1
yZErMGPHdagiCxNjzZsg6g     1
8niMhpuLCsTjDkK7sVJoHA     1
CGWQrtmV5aGNukH1jDVlBw     1
ppU2ciJrYQPmIHFtTDMTRw     1
NGWG0EBVB28wCBflIZV5HA     1
iA7SGeRhoGv56kNXI0JCbA     1
VQsw5Efpeewyl8zXgH5x2Q     1
5fiC7aSgkqzGX7aN0JA3QQ     1
cR6dx6mgtTF6YF3Opjobqg     1
ksKbUZI9mmyff7aSzqONVA     1
AJQhERwr9AmbB37lmEL7xg     1
z4gd4Aa4NLS4WlWHcJ_y5w     1
FoEZ4mphTmA5gRfYtPN1LA     1
EOgFe505FwuNI2mgKJY7cQ     1
a_KSnuOfwz4fA2qAIuoQkQ     1
N2yMGBtHD7ZezzCdqKloCA     1
xNAod3r74zWCyPvW5NOJUQ     1
QyRA2Y2xpxG9Lv-ynVniIg     1
ST0Fsb5mFioPH3Y2aUfAMA     1
ikWDQoZcXpxTH-26CvEpwA     1
QFZRttfGTdfAHQuNmiub0Q     1
ofl9hcl5VYlNXK-N0jYPCA     1
_M1Y_dParUm5P7JfILUpDA     1
yPWcJsFMtALy4_lMBbhQPQ     1
Name: user_id, dtype: int64
votes 	 ["{'funny': 0, 'useful': 0, 'cool': 1}"
 "{'funny': 1, 'useful': 2, 'cool': 3}"
 "{'funny': 0, 'useful': 0, 'cool': 0}" ...,
 "{'funny': 10, 'useful': 12, 'cool': 11}"
 "{'funny': 14, 'useful': 24, 'cool': 19}"
 "{'funny': 1, 'useful': 17, 'cool': 1}"] 	 {'funny': 0, 'useful': 0, 'cool': 0}       49997
{'funny': 0, 'useful': 1, 'cool': 0}       15096
{'funny': 0, 'useful': 2, 'cool': 0}        4936
{'funny': 0, 'useful': 1, 'cool': 1}        4049
{'funny': 0, 'useful': 0, 'cool': 1}        2881
{'funny': 1, 'useful': 1, 'cool': 1}        2236
{'funny': 1, 'useful': 0, 'cool': 0}        2183
{'funny': 0, 'useful': 3, 'cool': 0}        1871
{'funny': 0, 'useful': 2, 'cool': 1}        1835
{'funny': 1, 'useful': 1, 'cool': 0}        1496
{'funny': 1, 'useful': 2, 'cool': 1}        1127
{'funny': 0, 'useful': 3, 'cool': 1}         756
{'funny': 1, 'useful': 2, 'cool': 0}         731
{'funny': 0, 'useful': 4, 'cool': 0}         723
{'funny': 0, 'useful': 2, 'cool': 2}         603
{'funny': 1, 'useful': 3, 'cool': 1}         515
{'funny': 1, 'useful': 2, 'cool': 2}         436
{'funny': 0, 'useful': 1, 'cool': 2}         420
{'funny': 2, 'useful': 0, 'cool': 0}         366
{'funny': 0, 'useful': 4, 'cool': 1}         347
{'funny': 0, 'useful': 3, 'cool': 2}         345
{'funny': 1, 'useful': 3, 'cool': 0}         333
{'funny': 0, 'useful': 5, 'cool': 0}         330
{'funny': 1, 'useful': 0, 'cool': 1}         308
{'funny': 2, 'useful': 2, 'cool': 2}         306
{'funny': 2, 'useful': 1, 'cool': 0}         286
{'funny': 2, 'useful': 1, 'cool': 1}         276
{'funny': 1, 'useful': 3, 'cool': 2}         276
{'funny': 1, 'useful': 1, 'cool': 2}         271
{'funny': 1, 'useful': 4, 'cool': 1}         234
                                           ...
{'funny': 30, 'useful': 37, 'cool': 32}        1
{'funny': 3, 'useful': 15, 'cool': 2}          1
{'funny': 6, 'useful': 10, 'cool': 9}          1
{'funny': 11, 'useful': 8, 'cool': 10}         1
{'funny': 2, 'useful': 16, 'cool': 1}          1
{'funny': 11, 'useful': 14, 'cool': 11}        1
{'funny': 21, 'useful': 22, 'cool': 22}        1
{'funny': 17, 'useful': 23, 'cool': 19}        1
{'funny': 5, 'useful': 15, 'cool': 12}         1
{'funny': 21, 'useful': 35, 'cool': 22}        1

In [28]:
asp = 'EXPERIENCE_WAIT'
overall = asp+'sent'
df[overall] = df[overall].fillna(-10.0)

print(overall,'\t',df[overall].unique(),'\n',df[overall].value_counts())
df.groupby(overall)['stars'].mean()

EXPERIENCE_WAITsent 	 [-10.   0.  -1.   1.]
 -10    92158
 0      6225
 1      3942
-1      1874
Name: EXPERIENCE_WAITsent, dtype: int64

EXPERIENCE_WAITsent
-10    4.121129
-1     2.858591
 0     3.521446
 1     4.340183
Name: stars, dtype: float64

In [19]:
df.groupby('SALON_PRICEsent')['stars'].mean()

SALON_PRICEsent
-1    2.913123
 0    3.375379
 1    4.290594
Name: stars, dtype: float64